<form action="/answer">
  <div class="text-left form-group">
    <label for="question">Say something to your coach!</label>
    <input class="form-control" type="text" name="question">
  </div>
  <input class="btn btn-primary form-control" type="submit" value="Ask!">
</form>
